.image-preview {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.image-preview img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.images-preview-container {
    display: flex;
    justify-content: left;
}

.close-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.close-icon:hover {
    cursor: pointer;
    color: red;
}